
$blue_dark: #007dbd;
$blue_light: #b9e5fb;
$purple_dark: #93268f;
$purple_light: #a962a7;
$green_light: #53b698;
$green_dark: #5c7b80;
$orange_dark: #e28b50;
$orange_light: #d29871;


body {
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  color: $blue_dark;
  text-decoration: none;
  &:hover {
    color: $purple_dark;
  }
}

h2 {
  font-size: 30px;
  margin: 0 0 30px;
}

.project-name {
  background: $blue_dark;
  color: #fff;
  margin: 0 0 50px;
  padding: 40px;
  text-align: center;
  font-weight: normal;
}

.main-content {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.site-footer {
  padding: 50px 20px;
  text-align: center;
}

.clearfix:after { content:" "; display:table; clear:both; }

.brand {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.brand-color {
  float: left;
  font-size: 14px;
}

.brand-color__item {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.2);

  &:nth-of-type(2n + 1) {
    clear: left;
  }
}

$list: $blue_dark $blue_light $purple_dark $purple_light $green_light $green_dark $orange_dark $orange_light;

@each $color in $list {
  $i: index($list, $color);
  .box-#{$i} {
    background: $color;
  }
}

.text-center { text-align: center; }
.row {
  display: flex;
}
.col {
  flex-grow: 1;
}
